@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);


html,
button,
input,
select,
textarea {
   
}


body {
    font-size: 1em;
    line-height: 1.4;
}

html,body{ 
  margin:0;
  height: 100%;
}

canvas{
	display:block;
	top: 0;
	left: 0;
	position: fixed;
}

#particles-js{
  height:100%;
  width:100%;
  background:/*#2C3E50*/#0a0a1e;
}

.container {
    position:relative;
	display: table;
	z-index: 1;
	width: 100%;
	height: 100%;
	#background: rgba(0, 0, 0, .3);
}

.vertical {
display: table-cell;
vertical-align: middle;

}

.middle {
    margin: 0 auto;
	width: 300px;
	transition: all 1s ease-in;
	
}

h1 {
	color: #f6f7f8;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

h4 {
    color: #f6f7f8;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

ul { list-style: none; }

nav li {
	display:inline-block;
	padding: 0;
	margin: 0; }

	
a:link {
	background: rgba(255,255,255,.03);
	color: #f9f9f9;
	text-decoration: none;
	width: 2em;
	height: 2em;
	line-height: 2em;
	display: block;
	border-radius: .3125em;
	position: relative;
	text-align: center;
	text-indent: -10000px; }

a:hover {  }

a:hover:after {
	content: attr(title);
	color: #7F8C8D;
	text-align: center;
	clear: both;
	text-indent: 0px; }

a.twitter { background: url("../img/twitter.png") center no-repeat; }

a.twitter:hover { /*background-color: #6cc0e5  #1ABC9C*/; }

a.linkedin { background: url("../img/linkedin.png") center no-repeat; }

a.linkedin:hover { /*background-color: #1ABC9C;*/ }

a.contact { background: url("../img/mail.png") center no-repeat; }

a.contact:hover { /*background-color: #fbc93d #1ABC9C*/; }

a.latestwork { background: url("../img/latest.png") center no-repeat; }

a.latestwork:hover { /*background-color: #fb4f4f  #1ABC9C*/; }


