@import url(https://fonts.googleapis.com/css?family=Lato:400);

html,body{ 
  margin:0;
  height: 100%;
}

canvas{
	display:block;
	vertical-align:bottom;
}

#particles-js{
  height:100%;
  background:#111111
}